@import url('https://fonts.cdnfonts.com/css/heavy-metal-blight');

.band {
    border: 1px solid lime;
}

.band h2 {
    font-family: 'Heavy Metal Blight', sans-serif;  
    font-size: 22px;
}

.band ul {
    text-align: left;
}